<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<!-- Jersey Servlet configurations -->
	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>evsystem.vehicle</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Admin</servlet-name>
		<jsp-file>/admin.html</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>Cart</servlet-name>
		<jsp-file>/cart.html</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>Catalog</servlet-name>
		<jsp-file>/catalog.html</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<jsp-file>/register.html</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>Signin</servlet-name>
		<jsp-file>/signin.html</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cart</servlet-name>
		<url-pattern>/cart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Catalog</servlet-name>
		<url-pattern>/catalog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Signin</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>signin.html</welcome-file>
		<welcome-file>calculator.html</welcome-file>
	</welcome-file-list>

	<context-param> 
		<param-name>defaultinterestRate</param-name> 
		<param-value>13</param-value> 
	</context-param>
	<context-param> 
		<param-name>defaultnumMonths</param-name> 
		<param-value>1</param-value> 
	</context-param>
	<context-param> 
		<param-name>defaultmonthlyPayment</param-name> 
		<param-value>1</param-value> 
	</context-param>
</web-app>
